<main class=" d-flex flex-nowrap vh-100 vw-100">
  <%= render "shared/sidebar" %>
  <div class="border border-dashed text-center overflow-scroll h-100 w-100">
    <div data-controller="artist-search">
        <input data-artist-search-target="input" data-action="artist-search#loadArtists" type="text" placeholder="Search for artists...">
        <select data-artist-search-target="dropdown">
            <!-- Options will be populated by Stimulus -->
        </select>
            <%= form_with url: "/get_location", method: :post do |form| %>
          <div>
            <%= form.hidden_field :latitude %><br>
            <%= form.hidden_field :longitude %>
          </div>

          <div>
            <%= form.submit "Get Location" %>
          </div>
          <%= @location.first.coordinates  %>
        <% end %>
    </div>   
  </div>
</main>
