<div class="card text-center border-0 h-80 w-100">
  <img src="<%= rails_blob_path(@current_user.profile_picture) %>" class="card-img-top h-10 w-60" alt="Profile Picture(Browser doesn't support picture)">
  <div class="card-body">
    <h5 class="card-title"><%= @current_user.username %></h5>
    <% userLocation = Geocoder.search(@current_user.ip_address).first %>
    <p class="card-text">Location:<%= userLocation.city %>, <%= userLocation.country %></p>
    <% genres = ChosenGenre.find_by(user_id: @current_user.id) %>
    <% artists = ChosenArtist.find_by(user_id: @current_user.id) %>
    <% tags = ChosenTag.find_by(user_id: @current_user.id) %>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= %></div>
          Content for list item
        </div>
        <span class="badge text-bg-primary rounded-pill">14</span>
      </li>
    </ol>   
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
