<div class="row">
  <div class="col">

    <h2>Log in</h2>

    <h1>New Article</h1>

    <%= form_with url: "/log_in", method: :post do |form| %>
      <div>
        <%= form.label :email %><br>
        <%= form.email_field :email %>
      </div>

      <div>
        <%= form.label :password %><br>
        <%= form.password_field :password %>
      </div>

      <div>
        <%= form.submit "Log In" %>
      </div>
      
    <% end %>


  </div>
</div>

