<%= render "shared/sidebar" %>
<div class="text-center text-muted appSection overflow-scroll">
  <div class="list-group appSectionInner" data-controller="maintain-rooms" data-maintain-rooms-user-username="<%= User.find(session[:user_id]).username %>">
    <% @rooms.each do |room| %>
      <% room.recipient_id == session[:user_id] %> 
        <% if user = User.find_by(id: room.sender_id) %>   
      <% else %> 
        <% user = User.find_by(id: room.recipient_id) %>
      <% end %>     
      <a href="/direct_messages?user=<%= user.username %>" class="list-group-item list-group-item-action d-flex gap-3 py-3 appSectionInner" aria-current="true">
        <img src="<%= rails_blob_path(user.profile_picture) %>" alt="profile pic" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 justify-content-between">
          <div>
            <h6 class="mb-0"><%= user.username %></h6>
            <p class="mb-0 opacity-75"><%= room.messages.last&.body %></p>
          </div>
          <small class="opacity-50 text-nowrap"></small>
        </div>
      </a>
    <% end %>
  </div>
</div>
