<!DOCTYPE html>
<html>
  <head>
    <title>Vincula</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom_style", "data-turbo-track": "reload" %>
  </head>
  <body class ="pageBody vh-100 container-fluid " >
    <input type="hidden" id="user_id" name="user_id" value="Wall Street! Money Never Sleep"/>
    <%= yield %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </body>
</html>
